{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>Blog &bull; Delete Comment</title>{% endblock %}
{% block content %}
<section class="resume-section" id="skills">
  <div class="resume-section-content">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Delete comment</legend>
          <h2>Do you really want to delete comment "{{ comment.comment_text }}" (irreversible)?</h2>
      </fieldset>
      <div class="form-group">
          <button class="btn btn-outline-danger" type="submit">Yes</button>
          <a class="btn btn-outline-secondary" href="{% url 'blogpost' comment.comment_post.id %}">Cancel</a>
      </div>
  </form>
  </div>
</section>
{% endblock %}