{% extends "base.html" %}

{% block content %}
<section class="resume-section" id="skills">
  <div class="resume-section-content">
    <h2 class="mb-5">Posts</h2>
    {% if posts %}
    <ul class="fa-ul mb-0">
      {% for post in posts %}
        <li class="mt-2">
          {% if user.is_authenticated %}
            {% if post.post_author == user %}
              <a href="{{ post.id }}/edit" class="btn btn-success btn-sm" tabindex="-1" role="button" aria-disabled="true">Edit</a>
              <a href="{{ post.id }}/delete" class="btn btn-danger btn-sm" tabindex="-1" role="button" aria-disabled="true">Delete</a>
            {% endif %}
          {% endif %}
          <a href="{{ post.id }}">{{post.post_title }}</a> by: {{ post.post_author }}, published at {{ post.pub_time}} <a href="{{ post.id }}#commentsection">{{ post.comment_count}} comment(s)</a>.
        </li>
        <div class="mb-3 mt-4">
          {{post.post_text|truncatewords_html:30|safe}} <a href="{{ post.id }}">Read more >></a>
        </div>
        <hr>
      {% endfor %}
    </ul>
    <div class="pagination">
      {% if posts.has_other_pages %}
      <ul class="pagination">
        {% if posts.has_previous %}
          <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in posts.paginator.page_range %}
          {% if posts.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if users.has_next %}
          <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
      {% endif %}
    </div>      
    {% else %}
      <p>You are looking for love in Alderaan places.</p>
    {% endif %}
  </div>
</section>
{% endblock %}
